.chart-data {
	width: 100%;
  }
  
  .chart-data thead .chart-data-cell {
	background: #777;
	color: #fff;
	text-align: center;
  }
  
  .chart-data tbody .chart-data-cell {
	text-align: center;
  }
  
  .chart-data tbody .chart-data-row:nth-child(even) .chart-data-cell {
	background: #eee;
  }