<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restoration</title>
    {% load static %}
    <link rel="stylesheet" href="{% url 'css-path' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" />    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" crossorigin="anonymous">
</head>
<body data-csv-file="{{csv_file}}" 
    data-geojson-ck="{{geojson_files.ck}}"
    data-geojson-co="{{geojson_files.co}}">
    <div id="dashboardContainer">
        <div id="mapContainer">
            <div id="mapDiv"></div>
        </div>
        <div id="dataFilterContainer" class="grid-4">
            <div>
                <label for="projectNameSelector">Project Name:</label>
                <select id="projectNameSelector"></select>
            </div>
            <div>
                <label for="speciesSelector">Species:</label>
                <select id="speciesSelector"></select>
            </div>
            <div>
                <label for="cuSelector">CU Name:</label>
                <select id="cuSelector"></select>
            </div>
            <div>
                <label for="smuSelector">SMU Name:</label>
                <select id="smuSelector"></select>
            </div>
        </div>
        <div>
            <button id="resetButton">Reset</button>
        </div>
        <div id="chartContainer">
            <div id="chartdiv"></div>
        </div>
        <div id="dataTableContainer">
            <table id="dataTable">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Project Lead</th>
                        <th>Project Description</th>
                    </tr>
                </thead>
                <tbody id="dataBody"></tbody>
            </table>
        </div>
    </div>

    <!-- Amcharts -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

    <!-- LeadLet -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- DataTable -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>

    <script src="{% url 'utils-path' %}"></script>
    <script src="{% url 'getdata-path' %}"></script>
    <script src="{% url 'chart-path' %}"></script>
    <script src="{% url 'map-path' %}"></script>
    <script src="{% url 'datatable-path' %}"></script>
    <script src="{% url 'restoration-path' %}"></script>
</body>
</html>
