#dashboardContainer {
  width: 100%;
  margin: 0 auto;
}

#dataFilterContainer, 
#dataTableContainer, 
#chartContainer, 
#mapContainer {
  margin: 10px 0;
}

/* Selectors */
select {
  width: 100%;
}

/* Data Table */
#dataTable {
  width: 100%;
  border-collapse: collapse;
}

/* Map */
#mapDiv {
  width: 100%;
  min-height: 80vh;
}

/* Chart */
#chartDiv {
  width: 100%;
  min-height: 300px;
}

/* ///////////// */
/* Grid */

.grid {
  display: flex;
  flex-wrap: nowrap;
}

.grid > div {
  width: calc(100% - 10px);
  margin: 10px;
  float: left;
}

/* ///////////// */
/* Map */

.info {
  padding: 12px;
  font-size: 12px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.info div:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.info h4 {
  margin: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #ddd;
}

.info span {
  line-height: 1;
}

.info i {
  cursor: pointer;
  margin-left: 24px;
  width: 18px;
  font-size: 14px;
}

.info i.disabled{
  color: #ddd;
  cursor: default;
}

.leaflet-popup-content {
  font-size: 13px;
}

/* Popup */
.popup-content {
  max-width: 300px;
}

.popup-content h3 {
  margin: 0 0 10px 0;
}

.popup-info p {
  margin: 4px 0;
}