:root {
  --map-base-height: 80vh;
  --data-table-base-width: 420px;
  --chart-base-height: 150px;
}

body {
  font: 400 1.25rem/120% "Noto Sans", sans-serif;
  color: #333;
}

/* ////////////////////////// */
/* Container Styles */
#dashboard-container {
  margin: 0 auto;
  padding: 0 auto;
}

#selector-container {
  margin: 10px 0;
}

#selector-container select {
  width: 100%;
}

/* ////////////////////////// */
/* Grid Styles */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.grid-item {
  box-sizing: border-box;
}

/* ////////////////////////// */
/* Map Styles */
#map {
  width: 100%;
  height: var(--map-base-height);
}

/* ////////////////////////// */
/* Info Control Styles */
.info-control {
  padding: 10px;
  font-size: 12px;
  background: rgba(255 255 255 / 80%);
  box-shadow: 0 0 15px rgba(0 0 0 / 20%);
  border-radius: 5px;
}

.info-control h4 {
  margin: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #ddd;
}

.info-control h4.divider {
  margin-top: 12px;
}

/* Layer list info control */
.info-control.layer-control {
  margin-top: 0;
  border-radius: 0;
}

/*  Side info control */
.info-control.side-control {
  /* reset info control styles */
  margin-top: 0;
  margin-right: 0;
  border-radius: 0;

  width: 100vw;
  max-width: var(--data-table-base-width);
  height: var(--map-base-height);
  transition: .25s ease;
}

/* ////////////////////////// */
/* Data Table Styles */
#data-table-container {
  height: calc(var(--map-base-height) - var(--chart-base-height) - 20px) !important;
}

/* ////////////////////////// */
/* Chart Styles */
#chart-container {
  height: var(--chart-base-height);
}

#chart {
  height: calc(var(--chart-base-height) - 20px);
}

/* ////////////////////////// */
/* Layer List Styles */
#layer-list-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

#layer-list-container div:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

#layer-list-container span {
  line-height: 1;
}

#layer-list-container i {
  cursor: pointer;
  margin-left: 24px;
  width: 24px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#layer-list-container i.disabled{
  color: #ddd;
  cursor: default;
}

/* ////////////////////////// */
/* Popup Styles */
.popup-content {
  max-width: 300px;
}

.popup-content h3 {
  margin: 0 0 10px 0;
}

.popup-info p {
  margin: 4px 0;
}

/* Collapsible Styles */
.info-control.coll {
  transition: transform 0.25s ease-out;
}

.info-control.coll.right {
  transform: translateX(100%);
}

.info-control.coll.up {
  transform: translateY(-100%);
}

.info-control.coll.show {
  transform: translate(0);
}

/* ////////////////////////// */
/* Button Styles */
#toggle-btn-container,
#layer-toggle-btn-container {
  margin: 0;
}

#reset-btn-container {
  margin: 12px 0;
}

button {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
}

button#toggle-btn,
button#layer-toggle-btn {
  position: absolute;
  background: rgba(255 255 255 / 60%);
  min-width: 18px;
  min-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button#toggle-btn {
  height: calc(var(--map-base-height));
  top: 0;
  left: -18px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  z-index: 10;
}

button#layer-toggle-btn {
  width: 100%;
  left: 0;
  bottom: -18px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

button#toggle-btn:hover,
button#layer-toggle-btn:hover {
  background: rgba(255 255 255 / 80%);
}

button#toggle-btn i,
button#layer-toggle-btn i {
  font-size: 14px;
}

button#reset-btn {
  background-color: #26374a;
  color: #fff;

  display: inline-block;
  text-align: center;
  width: fit-content;
  text-wrap: balance;
  border: 0.125rem solid transparent;
  border-radius: 0.375rem;
  padding: 0.75rem;
  transition: all 0.15s ease-in-out 0s;
}

button#reset-btn:hover{
  background-color: #2b4380;
}

/* ////////////////////////// */
/* Loading Styles */
.loading {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
  color: #333;
}

/* ////////////////////////// */
/* Responsive Styles */
@media (max-width: 1023px) {
  .info-control.side-control {
    width: min(50vw, var(--data-table-base-width));
  }
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 1 column */
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr); /* 1 column */
  }
}