:root {
  --map-base-height: 80vh;
  --map-min-height: 500px;
  --chart-min-height: 200px;
  --map-dt-height-difference: 175px;
}

#dashboardContainer {
  margin: 0 auto;
  padding: 0 auto;
}

#selectorContainer {
  margin: 10px 0;
}

/* Selectors */
#selectorContainer select {
  width: 100%;
}

/* ///////////// */
/* Grid */

.grid {
  display: flex;
  flex-wrap: nowrap;
}

.grid > div {
  width: calc(100% - 10px);
  margin: 10px;
  float: left;
}

/* ///////////// */
/* Map */

#mapDiv {
  width: 100%;
  height: calc(var(--map-base-height) - 20px);
  min-height: var(--map-min-height);
}

.info-control {
  padding: 10px;
  font-size: 12px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info-control h4 {
  margin: 0;
  padding-bottom: 6px;
  border-bottom: 1px solid #ddd;
}

.info-control h4.divider {
  margin-top: 12px;
}

.layer-control div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-bottom: 1px solid #ddd;
}

.layer-control div:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.layer-control span {
  line-height: 1;
}

.layer-control i {
  cursor: pointer;
  margin-left: 24px;
  width: 24px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layer-control i.disabled{
  color: #ddd;
  cursor: default;
}

.info-control.data-control {
  width: 500px;
  display: flex;
  flex-direction: column;
}

/* Popup */
.popup-content {
  max-width: 300px;
}

.popup-content h3 {
  margin: 0 0 10px 0;
}

.popup-info p {
  margin: 4px 0;
}

/* Data Table */
/* #dataTableContainer {
} */

/* Chart */
#chartContainer {
  margin: 0;
  padding: 0; 
}

#chartDiv {
  width: 100%;
  min-height: var(--chart-min-height);
}

.loading {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
  color: #333;
}