<gcds-header
lang-href="#"
skip-to-href="#"
>
</gcds-header>
<!-- Static header ends -->
<gcds-top-nav
label="Top navigation"
alignment="right"
>
<gcds-nav-link href="#home" slot="home">PSSI Data Portal</gcds-nav-link> 
<gcds-nav-link href="#">About</gcds-nav-link>
<gcds-nav-link href="#">Catalouge</gcds-nav-link>
<gcds-nav-link href="#">Visualizations</gcds-nav-link>

<gcds-nav-group  open-trigger="Features" menu-label="Features">
    <gcds-nav-link href="#" current>Home</gcds-nav-link>
    <gcds-nav-link href="#">Catalouge</gcds-nav-link>
    <gcds-nav-link href="#">Schedule messages</gcds-nav-link>
    <gcds-nav-link href="#">Send messages automatically</gcds-nav-link>
</gcds-nav-group>

<gcds-nav-link href="#">Feedback</gcds-nav-link>
</gcds-top-nav>
