{% extends 'base.html' %}

{% block content %}
<style>
    .salmon-img{
        width: 100%;
        height: 400px;
    }
    main {
        display: flex;
        justify-content: center; 
        align-items: center; 
        text-align: center;
        position: relative; 
    }
    
    .search-card {
        max-width: 1135px; 
        width: 100%; 
        margin: auto; 
        height: 600px; 
        position: relative; 
    }
    .overlay {
        position: absolute;
        bottom: 0%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        color: white; 
        text-align: left; 
        background-color: rgb(38, 55, 74); 
        padding: 20px; 
        width: 80%; 
        border-radius: 15px; 
    }
    .pill{
        width: 70px;
        height: 5px;
        background-color: rgb(166, 42, 30);
        border-radius: 50px;
    }
    .preview-pill{
        background-color: rgb(5, 108, 118);
        width: 70px;
        border-radius: 50px;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 0.7em;
        font-weight: bold;
    }
    .browse-card{
        width: 1135px;
        background-color: rgb(241, 242, 243);
        text-align: left;
    }
    .browse-data{
        display: flex;
    }
    .browse-data-link{
        margin-left: 700px;
        margin-top: 55px
    }
    .species-btns{
        margin-left: 50px;
        display: flex;
        gap: 50px;
    }
    
</style>
    
<main>
    <div class="search-card">
        <img class="salmon-img" src="{% url 'images' %}" alt="Company Banner">
        <div class="overlay">
            <div class="preview-pill">PREVIEW</div>
            <gcds-heading tag="h1" style="color: white;">
                By species
            </gcds-heading>
          

            <p>Discover trends, gain insights, and explore all there is to know about Pacific salmon.</p>
            <gcds-search placeholder="datasets, keywords, species, topics. etc."></gcds-search>
        </div>
    </div>
</main>
<main>
    <div class="browse-card">
        <div class="browse-data">
            <gcds-heading style="margin-left: 50px;" tag="h3">
                Browse Data
            </gcds-heading>
            <gcds-link class="browse-data-link" href="#">View data catalouge</gcds-link>
        </div>
        <hr style="width: 90.5%;">
        <gcds-heading style="margin-left: 50px;" tag="h5">
            By species
        </gcds-heading>
        <div class="species-btns">
            <gcds-button style="padding: 20px;">
                Chinook
              </gcds-button>
              <gcds-button style="padding: 20px;">
                Chum
              </gcds-button>
              <gcds-button style="padding: 20px;">
                Coho
              </gcds-button>
              <gcds-button style="padding: 20px;">
                Pink
              </gcds-button>
              <gcds-button style="padding: 20px;">
                Sockeye
              </gcds-button>
              <gcds-button style="padding: 20px;">
                Steelhead
              </gcds-button>
        </div>
        <gcds-heading style="margin-left: 50px;" tag="h5">
            By category
        </gcds-heading>
    </div>
</main>
{% endblock %}